.d1{color:white;background-color:rgb(255, 190, 183);height:100px;text-align:left;}
.h1{padding:30px;font-family: sans-serif;}
.div{background-color:rgb(253, 208, 203);color:rgb(247, 166, 74);font-family: sans-serif;width:300px;margin-top:2px;}
.p{padding:5px;float:left;}
.iframe{width:500px;height:400px;background-color:rgb(253, 208, 203);margin-left:500px;margin-top:-135px;float:left;}
.testo{color:rgb(247, 166, 74);}
.d2{float:left;background-color:rgb(253, 208, 203);text-align:center;height:360px;width:200px;padding:20px;margin-top:-130px;}
.d3{text-align:center;padding:10px;background-color:rgb(253, 208, 203);margin-top:300px;}